@charset "UTF-8"; 

body, div, 
ul, li, dl, dt, ol, 
h1, h2, h3, h4, h5, h6, 
form, input, select, textarea, button, fieldset, legend, 
p, table, th, td, tr{
    margin: 0; padding: 0;
}

input, select, textarea{
    font-family: inherit;
    font-size: inherit;
}


body{
    /* border: 1px solid #000; */
    background-color: #808080;
    font-family: 맑은 고딕;
    font-size: 12px;
}
.wrap{
    width: 600px;
    background-color: #fff;
}

.wrap h3{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
 }

 .wrap ol{
    list-style-type: none;
    margin: 10px 0px 10px 0px;
}
.wrap ol>li{
    float: left;
}
.wrap ol>li::after{
    content: ">";
}
.wrap ol>li:last-child::after{
    content: "";
}
.clearfix::before, .clearfix::after {
    display: block; 
    content: ""; 
    line-height: 0;
}
.clearfix::after {
    clear: both;
}

.form-group{
    border-bottom: 1px solid #000;
    padding: 10px 0px;
 }
.form-title{
    display: inline-block;
    width: 120px;
    text-align: center;
    font-size: 12px;
    vertical-align: top;
}

.txt-add{
    margin-left: 124px;
    margin-top: 5px;
    width: 350px;
}

.form-group>input[type="radio"],
.form-group input[type="checkbox"]{
    margin-right: 10px;
}
.form-txt>label{
    font-family: 맑은 고딕;
    font-size: 15px;
}

input, select, textarea{
    font-family: 맑은 고딕;
    font-size: 15px;
}

.form-group textarea{
    width: 350px;
    height: 100px;
}

.btn-group{
    text-align: center;
}
.btn-group>button{
    width: 120px;
    padding: 10px 0px;
    margin: 10px 0px;
}

