<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>MySite-flex</title>
        <link rel="stylesheet" href="../../assets/css/resetflex.css">
        <link rel="stylesheet" href="../../assets/css/mysiteflex.css">
        <link rel="stylesheet" href="../../assets/css/boardflex.css">
    </head>

    <body>
        <div id="wrap">

            <!-- 헤더 -->
            <header>
                <h1>MySite</h1>
                <ul>
                    <li>로그인</li>
                    <li>회원가입</li>
                </ul>
            </header>

            <!-- 내비 -->
            <nav>
                <ul>
                    <li>입사지원서</li>
                    <li>게시판</li>
                    <li>갤러리</li>
                    <li>방명록</li>
                </ul>
            </nav>

            <!-- 어싸이드 -->
            <div id="content2">
                <aside>
                    <h2>게시판</h2>

                    <ul>
                        <li>일반게시판</li>
                        <li>댓글게시판</li>
                    </ul>
                </aside>
                
                <main>
                    <div id="main-head">
                        <h3>일반게시판</h3>

                        <ol>
                            <li>홈</li>
                            <li>게시판</li>
                            <li>일반게시판</li>
                        </ol>
                    </div>

                    <div id="list-search">
                        <input type="text" name="" value="">
                        <button>검색</button>
                    </div>

                    <div>
                        게시판 리스트
                    </div>

                </main>

            </div>
            <!-- /content2 -->

                <footer>
                    <p>
                        Copyright ⓒ 2020 황일영. All right reserved
                    </p>
                </footer>

        </div>
        <!-- /wrap -->



    </body>
</html>